
body {
  font-family: "Roboto", sans-serif;
  
}

table {
  width: 700px;
}

th {
  padding: 10px;
  color: #56baed;
  border: 1px solid lightgray;
  font-size: 14px;
}

td {
  padding: 10px;
  border: 1px solid lightgray;
  text-align: center;
  font-size: 13px;
}

.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;

  margin-top: 20px;
}






