
body {
  font-family: "Roboto", sans-serif;
  
}


h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 20px 0; 
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column; 
	justify-content: center;
	
	height: 90vh;
	padding: 20px;

	/*width: 250px;
	margin: auto;
	margin-top: 120px;*/

}
 
.form-content {
	border-radius: 5px;
  	background: #fff;
  	padding: 30px;
  	width: 90%;
  	max-width: 450px;
  	position: relative;
  	border: 1px solid lightgray;
  	text-align: center;
}

input[type=submit]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px;
  margin: 20px 20px 40px 20px;
}

input[type=submit]:hover {
  background-color: #39ace7;
  outline: none;
}

input[type=text], input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 8px;
  width: 85%;
  border: 2px solid #efefef;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  outline: none;
}

input[type=text]:placeholder {
  color: #cccccc;
}

input[type=password]:focus {
  background-color: #fff;
  outline: none;
}

input[type=password]:placeholder {
  color: #cccccc;
}






